.selectMenu {
  width: 330px;
  height: 50px;
  grid-area: chooseLang;
}

.selectLangOption {
  width: 150px;
  height: 40px;
  color: #fff;
  background-color: rgb(82, 82, 82);
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 5px;
}

label {
  color: #fff;
  font-size: 20px;
  margin-left: auto;
  margin-right: 10px;
}
