.footer {
  width: 100%;
  height: 70px;
  background-color: rgb(82, 82, 82);
  padding: 25px 30px;
  margin-top: 40px;
}

.leftP,
.rightP,
a {
  color: #fff;
  font-size: 17px;
}

.leftP {
  float: left;
}

.rightP {
  float: right;
}

a {
  color: #cfcfcf;
  transition: color 0.3s linear;
}
a:hover {
  color: #fff;
}
